body {
  background-image: url("images/bg.png");
  background-repeat: repeat;
  color:greenyellow;
  cursor: url("images/cursor.png"), auto;
}

a {
  color: green;
  background-color: black;
  width: auto;
  padding: 0.25em;
}

a:hover {
  color:green;
  width: auto;
  cursor: url("images/cursor-hover.png"), auto;
}

.container, footer {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  margin-bottom: 4em;
}

.logo {
  max-width: 50%;
}

.badges {
  margin: 2em;
}

.badges > div {
  margin: 1em;
}

@media only screen and (max-width: 600px) {
  .container, footer {
    width: 100%;
  }

  .logo {
    max-width: 80%;
  }

  .hide-on-mobile {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }
}